__pycache__/
__pycache__
migrations/
venv/
.env
*.png
*.jpg
.DS_Store
.vscode/
.cursor/
*.pyc
config.py
*.jpeg
*.png
*.gif
*.jpeg
*.webp
*.svg
*.ico
*.bmp
*.tiff
*.tif
config_web.py
setup_database.py
xero_credentials.json
xero_token.json