import os

class ConfigWeb:
    SECRET_KEY = os.environ.get('WEB_SECRET_KEY') or 'a-super-secret-key-for-web'

    SQLALCHEMY_DATABASE_URI = os.environ.get('DATABASE_URL') or \
        ''

    SQLALCHEMY_TRACK_MODIFICATIONS = False

    # Path to the main application's upload folder
    # This assumes run_web.py is in web_frontend, and the main app is one level up.
    MAIN_APP_PROJECT_ROOT = os.path.abspath(os.path.join(os.path.dirname(__file__), '..'))
    MAIN_APP_UPLOAD_FOLDER = os.path.join(MAIN_APP_PROJECT_ROOT,'app', 'static', 'uploads')

    COMPANY_NAME = ""
    COMPANY_LOGO_FILENAME = ""
    COMPANY_LOGO_FILENAME_DARK = ""
    PLACEHOLDER_IMAGE_FILENAME = ""

    COMPANY_ABN = ""
    COMPANY_ADDRESS_LINE1 = ""
    COMPANY_CITY_STATE_POSTCODE = ""
    COMPANY_PHONE = ""
    COMPANY_EMAIL = ""
    COMPANY_WEBSITE = ""
    COMPANY_FOOTER_A4 = ""

    APP_STATIC_FOLDER = os.path.join(os.path.abspath(os.path.dirname(__file__)), 'static')
    IMAGES_FOLDER = os.path.join(APP_STATIC_FOLDER, 'images')
    UPLOADS_FOLDER_WEB = os.path.join(APP_STATIC_FOLDER, 'uploads')

    if not os.path.exists(IMAGES_FOLDER):
        os.makedirs(IMAGES_FOLDER)

    if not os.path.exists(UPLOADS_FOLDER_WEB):
        os.makedirs(UPLOADS_FOLDER_WEB)
